.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  transition: .3s;
}

.footer__column-link:hover .footer__social-icon {
  filter: invert(2%) sepia(49%) saturate(1823%) hue-rotate(198deg) brightness(99%) contrast(90%);
}
