:root {
  --color-grey-dark: #1f1f1f;
  --color-grey-light: #f2f2f2;
  --color-blue: #2f80ed;
  --color-black: #000;
}

.font_color_blue {
  color: var(--color-blue);
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: var(--color-grey-light);
}

.header__title {
  z-index: 8;
  margin: auto 0;
  padding-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 8;
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: var(--color-blue);
}

.logo {
  width: 228px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 10;
  background-image: url(../images/logo_place_header.svg);
}

.description {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.two-colomns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-colomns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2rem;
  font-size: 18px;
  font-weight: normal;
}

.two-colomns__main-text {
  width: 80%;
  min-width: 784p;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 24px;
  font-weight: normal;
}

.two-colomns__paragraph {
  margin: 0;
}

.two-colomns__span-accent {
  font-weight: 600;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
